.card {
   width: 100%; 
   margin-bottom: 15px;
   padding: 15px;
   border-radius: 20px;
 

   &--red {
      background: #CC0000;
      color: #ffffff;
   }

   &--white {
      background: #ffffff;
      color: #CC0000;
   }

   &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
   }

   &__date-wrap--red {
      padding-left: 27px;
      background: url('../../img/icons/white/date.svg') no-repeat left center;
      font-size: 15px;
   }

   &__date-wrap--white {
      padding-left: 27px;
      background: url('../../img/icons/red/date.svg') no-repeat left center;
      font-size: 15px;
   }

   &__edit-btn--red {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background: none;
      border: none;
      background: url('../../img/icons/white/edit.svg');
   }

   &__edit-btn--white {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background: none;
      border: none;
      background: url('../../img/icons/red/edit.svg');
   }

   &__close-btn--red {
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      background: url('../../img/icons/white/close.svg');
   }

   &__close-btn--white {
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      background: url('../../img/icons/red/close.svg');
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
   }

   &__title {
      margin-bottom: 15px;
      font-size: 23px;
      // border-bottom: 2px solid #ffffff;
   }

   &__description {
      margin-bottom: 20px;
      font-size: 18px;
   }

   &__username {
      font-size: 16px;
   }

   &__swipe-btn--red {
      width: 14px;
      height: 35px;
      background: none;
      border: none;
      background: url('../../img/icons/white/swipe.svg') no-repeat center center;
   }

   &__swipe-btn--white {
      width: 14px;
      height: 35px;
      background: none;
      border: none;
      background: url('../../img/icons/red/swipe.svg') no-repeat center center;
   }
}