.header {
    height: 20vh;
    margin-bottom: 5%;
    text-align: center;
    color: #CC0000;

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 50px;
    }

    &__text {
        font-weight: 500;
        font-size: 15px;
    }
}