.modal-del {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    color: rgb(171, 15, 15);
    border-radius: 10px;
    -webkit-box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);
    box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);

    &__title {
        margin-bottom: 15px;
        font-size: 25px;
    }
}