.modal {
  position: absolute;
  font-weight: 700;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 1.5%;
  background: #ffffff;
  color: rgb(171, 15, 15);
  border: 10px solid;
  border-radius: 10px;
  border-image: linear-gradient(rgb(171, 15, 15), rgb(206, 111, 91)) 1;
  -webkit-box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);
  box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 auto;
    font-size: 22px;
  }

  &__btn-close {
    width: 20px;
    height: 20px;
    background: url("../../img/icons/red/close.svg") no-repeat center center;
    border: none;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__heading,
  &__comment,
  &__username {
    font-size: 18px;
  }

  &__input-heading,
  &__input-comment {
    height: 35px;
    margin-bottom: 15px;
    background: none;
    border: none;
    border-bottom: 3px solid rgb(171, 15, 15);
    color: #330000;
  }

  &__dropdown {
    padding: 5px;
    margin-top: 7px;
    display: block;
    font-size: 15px;
    color: rgb(171, 15, 15);
    box-sizing: border-box;
    border: 3px solid rgb(171, 15, 15);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__btn--save {
    height: 30px;
    font-weight: 700;
    background-color: rgb(171, 15, 15);
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }

  &__btn-close--footer {
    height: 30px;
    margin-right: 5px;
    font-weight: 700;
    background-color: rgb(171, 15, 15);
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }
}
.dropdown__option {
  font-size: 15px;
  font-weight: 700;
  background: #ffe4e1;
  color: #330000;
  
}
