.toast {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 25%;
  height: 100px;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background: rgb(97, 4, 0);
  color: #ffffff;
  border-radius: 10px;

  &__img {
    position: absolute;
    top: -205px;
    right: 0;
    width: 250px;
  }
}
