body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    background: url('../../img/background/background.svg') #b8beb8 no-repeat;
    background-position: top left 3%;
    background-size: 80px;
    
}

.container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 3% 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.main {
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.d-none {
    display: none;
}

.opacity {
    opacity: 0;
}